@model Lab4v2.Models.ViewModels.NewsBoardViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Last Name
            </th>
            <th>
               First Name
            </th>
            <th>
               Birth Date
            </th>
        </tr>
    </thead>
    <tbody>
  @if (Model.Clients != null)
{
 @foreach (var item in Model.Clients)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.Id">Select</a> | <!--A2-->
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="EditSubscriptions" asp-route-id="@item.Id">Edit Subscription</a> | <!--A2-->
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>

<!--A2-->

@if (Model.Subscriptions != null)
{
    <table class="table">
        <tr>
            @if (Model.Subscriptions.Count() > 0)
            {
                <th>Name</th>
            }
            else
            {
                <th>No subscriptions record exist</th>
            }
        </tr>
        @foreach (var item in Model.Subscriptions)
        {
            <tr>
                <td>@item.NewsBoard.Title</td>
            </tr>
        }
    </table>
}
